@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

main {
    min-height: 80vh;
    margin: 50px 0;
}

header i {
    margin-right: 2px;
    font-size: 12px;
}

.page-title {
    margin-bottom: 30px;
}

.product-meta p {
    margin: 0;
}

.product-meta {
    margin: 15px 0;
}

.rating .rating-stars {
    color: #f7a000;
}

.rating span {
    display: inline-block;
    margin: 0 1px;
}

p.product-category i {
    margin-right: 5px;
}

p.product-category {
    font-size: 15px;
}

.card-title a {
    color: #333;
    line-height: 1.5;
    text-decoration: none;
}

.card {
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

img {
    max-width: 100%;
    height: auto;
}

.product-content p {
    margin-bottom: 0;
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}
